{% load static %}

<div class="row mt-lg-0 mt-8">
    <div class="col-lg-6 mt-2" id="education">
        <h1 class="display-4 title"><i class="ni ni-hat-3"></i> Education</h1>
        
        <!-- Hardcoded Education -->
        <div class="container py-2">
            <div class="row">
                <div class="col-auto text-center flex-column d-sm-flex">
                    <div class="row h-50"><div class="col border-right">&nbsp;</div><div class="col">&nbsp;</div></div>
                    <h5><span class="badge text-white">2022</span></h5>
                    <div class="row h-50"><div class="col border-right">&nbsp;</div><div class="col">&nbsp;</div></div>
                </div>
                <div class="col py-2">
                    <div class="card education-card mirror-face">
                        <div class="card-body">
                            <h6 class="education-card-title">Diploma in IT Engineering</h6>
                            <p class="education-card-desc">Gujarat Technological University (GTU) - Focus on web development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-6 mt-2" id="experiences">
        <h1 class="display-4 title"><i class="ni ni-archive-2"></i> Experiences</h1>
        
        <!-- Hardcoded Experience -->
        <div class="container py-2">
            <div class="row">
                <div class="col-auto text-center flex-column d-sm-flex">
                    <div class="row h-50"><div class="col border-right">&nbsp;</div><div class="col">&nbsp;</div></div>
                    <h5><span class="badge text-white">2023</span></h5>
                    <div class="row h-50"><div class="col border-right">&nbsp;</div><div class="col">&nbsp;</div></div>
                </div>
                <div class="col py-2">
                    <div class="card education-card mirror-face">
                        <div class="card-body">
                            <h6 class="education-card-title">Internship at Tech Solutions</h6>
                            <p class="education-card-desc">Worked on full-stack Django applications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
